@font-face {
    font-family: Norse-Bold;
    src: url("fonts/Norse-Bold.otf");
}

body { 
    margin: 0;
}

.container {
    display: flex; /* Enables side-by-side layout */
    height: 100vh; /* Full viewport height */
    width: 100vw;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url("images/leafs.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: flex-end;
}

.odin-banner { 
    color: white;
    font-family: Norse-Bold;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80px;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 25%;
}


.odin-logo { 
    height: 1.5em;
    padding: 0;
    margin: 15px 0;
}

.image-credits, a { 
    color: rgba(255, 255, 255, 0.7);
    align-self: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.right-section {
    flex: 2; /* Takes up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    position: relative;
    width: 100%;
}

.cta { 
    margin: 35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.sign-up-banner { 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0 0px 35px 35px;
}

.form-title { 
    margin: 15px 0 10px 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.sign-up-container { 
    display: flex;
    flex-direction: row;
}

.form-group { 
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 10px 50px 0px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
}

label { 
    margin-bottom: 1px;
}

input { 
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

input:invalid { 
    outline: none;
    border: 1px solid red;
    outline: none;
}

input:focus { 
    outline: none;
    border: 1px solid blue; 
    box-shadow: 2px 2px 2cap rgba(0, 0, 0, 0.2);
}

.create-account-button { 
    width: fit-content;
    margin: 30px 35px;
    padding: 10px 40px;
    font-size: 12px;
    background-color: #596D48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid #E5E7EB;
    border-radius: 8px;
    font-weight: bold;
}

.create-account-button:hover { 
    background-color: #4a5a3b;
}

.create-account-button:active {
    transform: scale(0.99); /* Slightly "press" the button */
    background-color: #3e4b31; /* Even darker shade for active */
  }

.login-link-cta { 
    margin: 0px 35px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-link { 
    color: #596D48;
    font-weight: bolder;
    text-decoration: none;

}

